body {
  background-color: white;
  font-family: sans-serif;
}

h1 {
  color: black;
}

.header {
  padding-left: 8%;
  padding-right: 8%;
}
.date {
  float: right;
}

.container {
  padding: 10px 50px 10px 50px;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 20px;
  border-top: 1px solid #dedede;
}

.rectangle-test {
  /* stroke-width: 2;
  stroke: grey; */
}

.menu-button {
  margin: 5px;
  text-transform: uppercase;
}

div.bar {
  display: inline-block;
  width: 20px;
  height: 75px; /* We'll override height later */
  background-color: teal;
  margin-right: 2px;
}

.axis path,
.axis line {
  fill: none;
  stroke: black;
  shape-rendering: crispEdges;
}
.axis text {
  font-family: sans-serif;
  font-size: 11px;
}

.btn {
  margin: 5px;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 5px;
}

p {
  font-weight: 300;
}

.produce-chart {
  margin-top: 20px;
}

.district {
    fill-opacity: .8;
}

.slidecontainer {
    width: 100%; /* Width of the outside container */
}

/* The slider itself */
.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 25px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #4CAF50; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #4CAF50; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

.slider-ticks {
  display: inline;

}

.slider-ticks option {
    width: 16%;
    display: inline-block;

}

option:nth-child(7) {
    width: 3%;
}
